<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sold.spring.talks.mapper.MemberMapper">
	<insert id="createMember">
		INSERT INTO member_list (member_nickname, member_pw, member_id, member_name)
		VALUES (#{member_nickname}, #{member_pw}, #{member_id}, #{member_name})
	</insert>
	
	<select id="login" resultType="com.sold.spring.talks.dto.MemberDto">
		SELECT * FROM member_list
		WHERE member_id = #{member_id} AND member_pw = #{member_pw};
	</select>
</mapper>